.navbar__main{
    border-bottom: 1px solid #D8DBDE;
}

.navbar__leftbar{
    display: flex;
}

.navbar__logo{
    margin: 8px 10px 8px 16px;
    width: 35px
}

.navbar__search {
    height: 35px;
    width: 190px;
    border-radius: 25px;
    border: 0px;
    background-color: #EFF2F5;
    padding-left: 30px;
    margin-top: 8px;
}

.navbar__container{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}

.navbar__tab{
    width: 120px;
    height: 45px;
}

.navbar__tab.active{
    border-bottom: 3px solid #1B77F2;
}

.navbar_righttab{
    display: flex;
    margin-left: 40px;
}

.navbar_rightimg{
    margin-top: 15px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}

.navbar_profilename{
    margin-top: 20px;
    font-weight: 600;
}