.rightside_container{
    margin-left: 80px;
}

.rightside__header{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    font-weight: 600px;
    font-size: 18px;
}

.rightside__content{
    margin-left: 5px;
}