.post__container{
    width: 600px;
    margin-top: 20px;
    border-radius: 20px;
}

.post__header{
    display: flex;
    height: 65px;
}

.post__header__img{
    margin-top: 20px;
    margin-bottom: 10px;
}

.post__header__text{
    font-weight: 700px;
    margin-top: 30px;
    font-size: 14px;
    margin-left: 10px;
}

.post__description{
    display: flex;
    margin-left: 15px;
}

.post__likeCountContainer{
    display: flex;
    height: 35px;
    padding: 0px 10px;
    border-bottom: 1px solid #CDD0D4;

}
.post__img{
    /* margin-top: 5px; */
    height: 40px;
    margin-left: 10px;
}

.post__like{
    height: 5px;
}

.post_likeCount{
    margin-left: 5px;
    margin-top: 8px;
}

.post__likeShare{
    height: 40px;
    display: flex;
    margin-left: 50px;
    margin-top: 10PX;
}

.post__tab{
    display: flex;
    width: 200px;
}

.post__tabfirst{

}
.post__tabimg{
    width: 30px;
}

.post__tabtext{
    margin: 5px;
}

.upload__comment{
    border-top: 1px solid #CDD0D4;
}

.postlike__img{
    margin-top: 10px;
    height: 20px;
}